<section
  class="py-[140px] bg-no-repeat bg-cover"
  style="background-image: url('images/Cta-bg.png');"
>
  <div class="container">
    <div class="w-full flex flex-row">
      <div class="w-6/12 flex items-center">
        <img src="/images/Cta-logo.png" alt="Logo" />
      </div>
      <div class="w-6/12 flex justify-end">
        <div class="flex flex-col items-center gap-8">
          <h2 class="max-w-[357px] text-center">New Website Coming SOON</h2>
          <div class="flex flex-col gap-6 max-w-[310px]">
            <button class="button">Enter MCJ-Jungheinrich Website</button>
            <button class="button">Enter Rocla Website</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
