<section
  class='py-52 bg-no-repeat bg-cover'
  style="background-image: url('/public/images/Hero-bg.png');"
>
  <div class='container'>
    <div class='w-full flex flex-row'>
      <div class='w-6/12 flex flex-col justify-center'>
        <div class='flex flex-row items-center gap-3'>
          <img
            src='/public/images/tagline-decoration.png'
            alt='decoration'
            width='48px'
            height='8px'
          />
          <p class='text-[40px] text-[#EBEAEA]'>MCJ + Rocla are now</p>
        </div>
        <h1 class='mb-6'>Rocrich Automation</h1>
        <p class='text-white max-w-lg'>
          We are excited to announce Rocrich Automation. Rocrich exists to bring
          both Junheinrich+ Rocla automation solutions to North America.
        </p>
      </div>
      <div class='w-6/12'>
        <div class='w-full h-full'>
          <img src='/public/images/video-placeholder.png' alt='placeholder' />
        </div>
      </div>
    </div>
  </div>
</section>
