<section
  class='py-52 bg-cover'
  style="background-image: url('/public/images/Hero-bg.png');"
>
  <div class='container'>
    <h1>New Website</h1>
    <h2 class='font-sans text-white text-4xl font-semibold'>cao</h2>
  </div>
</section>
