<section
  class='py-52 bg-no-repeat bg-cover relative'
  style="background-image: url('/public/images/Hero-bg.png');"
>
  <div class='container'>
    <div class='w-full flex flex-row'>
      <div class='w-6/12 flex flex-col justify-center'>
        <div class='flex flex-row items-center gap-3'>
          <p class='text-[30px] text-[#EBEAEA]'>Announcing</p>
        </div>
        <h1 class='mb-6'>Rocrich Automation</h1>
        <p class='text-white max-w-lg font-semibold'>
          A joint venture by Mitsubishi Logisnext Americas & Jungheinrich AG
        </p>
        <p class='max-w-[536px] text-[16px] font-regular mt-[24px]'>
          Based on a long-standing and proven 15-year partnership, the AGV
          portfolios of Logisnext’s Rocla brand and Jungheinrich® will now be
          brought together, providing North America with a single source for
          product and service solutions from both brands.
        </p>
        <div class='mt-[32px] flex flex-row'>
          <img
            src='/public/images/JH-1-logo.png'
            alt='Logo'
            width='250px'
            class='mr-[50px]'
          />
          <img
            src='/public/images/Rocla-logo.png'
            alt='Rocla logo'
            width='142px'
          />
        </div>
      </div>
      <div class='w-6/12 relative'>
        <div class='w-full h-full flex items-center z-999'>
          <img
            src='/public/images/video-placeholder.png'
            alt='placeholder'
            class='z-40'
          />
        </div>
        <img
          src='/public/images/decoration.svg'
          alt='Decoration'
          class='absolute bottom-0 left-[27px] z-50'
        />
        <img
          src='/public/images/circle-decoration.svg'
          alt='Decoration'
          class='absolute -bottom-8 -right-4 z-0'
        />

        <img
          src='/public/images/mini-decoration.svg'
          alt='Decoration'
          class='absolute -top-4 -right-4 z-0'
        />
      </div>
    </div>
  </div>
</section>
