---
import Layout from "../layouts/Layout.astro";
import { YouTube } from "@astro-community/astro-embed-youtube";
---

<Layout title="Rocrich AGV Solutions" description="This is description">
  <main class="min-h-screen overflow-x-hidden">
    <!-- Hero Section -->
    <section
      class="py-40 sm:py-52 bg-no-repeat bg-cover bg-right-bottom relative bg-[url('/images/HeroBG.png')] leading-tight"
    >
      <div class="mx-auto max-w-7xl px-2 sm:px-4">
        <div class="w-full flex flex-col lg:flex-row gap-6">
          <div class="w-full lg:w-1/2 flex flex-col justify-center">
            <p class="text-[30px]">Announcing</p>

            <h1 class="mb-4 text-[44px] sm:text-[50px] font-semibold">
              Rocrich AGV Solutions
            </h1>
            <p class="font-semibold mb-4 text-xl leading-tight">
              Bringing Rocla and Jungheinrich® AGVs together in North America
            </p>
            <p class="font-normal mb-6">
              We are proud to announce the merger of MCJ Supply Chain Solutions,
              the provider of Jungheinrich AGVs in North America, with
              Logisnext's Rocla brand. This brings together the AGV portfolios
              of Rocla and Jungheinrich under a new company, offering a unified
              source for product and service solutions in North America.
            </p>
            <div
              class="flex flex-col sm:flex-row gap-6 items-start lg:items-center lg:gap-14 mb-6"
            >
              <img
                src="/images/JH_1_.svg"
                alt="Logo"
                width="250px"
                height="36px"
                class=""
              />
              <img
                src="/images/Rocla-logo.svg"
                alt="Rocla logo"
                width="142px"
                height="52px"
              />
            </div>
            <a
              href="https://www.google.com/"
              target="_blank"
              class="underline font-medium">Read Press Release</a
            >
          </div>
          <div class="w-full lg:w-1/2 relative pt-10">
            <YouTube id="NpEaa2P7qZI" class="z-10 before:w-0" />
            <img
              src="/images/decoration.svg"
              alt="Decoration"
              class="absolute -bottom-20 lg:-bottom-8 left-[27px]"
            />
            <img
              src="/images/circle-decoration.svg"
              alt="Decoration"
              class="absolute -bottom-20 lg:-bottom-16 -right-4"
            />
          </div>
        </div>
      </div>
    </section>
    <!-- CTA Section -->
    <section>
      <div class="flex flex-col md:flex-row">
        <div
          class="w-full relative bg-black bg-no-repeat bg-cover bg-[url('/images/column-left.png')] min-h-[400px] md:w-1/2 flex place-items-center justify-center py-10 md:py-36 px-4"
        >
          <img
            src="/images/decoration.svg"
            alt="Decoration"
            class="absolute bottom-0 md:bottom-20 left-0 md:left-10"
          />
          <div
            class="bg-dark flex place-items-center max-h-[168px] py-10 px-10 md:py-12 md:px-20 z-10"
          >
            <img
              src="/images/main-logo.svg"
              alt="Logo"
              width="208px"
              height="65px"
              class="my-1 mx-1"
            />
          </div>
        </div>
        <div
          class="w-full relative bg-black bg-no-repeat bg-cover bg-[url('/images/column-right.png')] min-h-[400px] bg-right flex justify-center md:w-1/2 items-center py-10 md:py-36 px-4"
        >
          <div class="max-w-[380px] sm:max-w-[310px] text-center">
            <h2
              class="text-[36px] sm:text-[42px] leading-tight mb-8 font-semibold"
            >
              New Website Coming SOON
            </h2>
            <div class="flex flex-col gap-5">
              <a
                class="px-4 py-[18px] sm:py-4 leading-none font-bold text-dark bg-white hover:bg-[#f2f2f2]"
                target="_blank"
                href="https://mcj.team/">Go to Jungheinrich AGVs</a
              >
              <a
                class="px-4 py-[18px] sm:py-4 leading-none font-bold text-dark bg-white hover:bg-[#f2f2f2]"
                target="_blank"
                href="https://rocla-agv.com/">Go to Rocla AGVs</a
              >
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
</Layout>
