---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Sections/Hero.astro';
import Cta from '../components/Sections/Cta.astro';
---

<Layout title='Welcome to Astro.' description='This is description'>
  <main class='min-h-screen'>
    <Hero />
    <Cta />
  </main>
</Layout>
