<footer class='bg-[#010101] pb-[12px] pt-[64px] text-center'>
  <div class='container'>
    <div class='w-full flex flex-row'>
      <div class='w-6/12 flex flex-col justify-start'>
        <img src='/public/images/main-logo.png' alt='Logo' width='174px' />
        <div class='flex flex-row items-start gap-2 mt-[32px]'>
          <img src='/public/images/icon-address.png' alt='Address icon' />
          <p class='text-white max-w-[155px] font-regular text-sm text-left'>
            3161 Cheshire Road, Westville Connecticut
          </p>
        </div>
      </div>
      <div class='w-6/12 flex justify-end items-center'>
        <div>
          <h4 class='mb-[32px]'>Social</h4>
          <div class='flex flex-row gap-[39px]'>
            <a href='#'>
              <img src='/public/images/linkedIn-icon.png' alt='LinkedIn' />
            </a>
            <a href='#'>
              <img src='/public/images/instagram-icon.png' alt='Instagram' />
            </a>
            <a href='#'>
              <img src='/public/images/facebook-icon.png' alt='Facebook' />
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class='w-full h-[1px] bg-[#3C3C3C] mt-[64px]'></div>
    <p class='text-[12px] font-normal text-white mt-[12px]'>
      All Rights Reserved
    </p>
  </div>
</footer>
