<header class="py-[24px] bg-transparent absolute top-0 w-full z-50">
  <div class="mx-auto max-w-7xl px-2 sm:px-4">
    <img src="/images/main-logo.svg" alt="Logo" width="174px" height="73px" />
  </div>
</header>
